.wrap {
    width: 1250px;
    margin: 0 auto;
}
.footer_top,
.footer_bottom {
    display: flex;
    gap: 20px;
}
.footer_top p,
.footer_bottom p {
    font-size: 14px;
}
.footer_top p:first-child {
    color:blue
}
.footer_bottom img {
    height: 22px;
}
.hr {
    margin-top: 80px;
}